.modal{
    /* display: none; */
    height: 100vh;
    width: 100vw;
    
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    width: 100vw;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}
.copy{
	font-size: 0.8rem;
}
.search{
	font-size: 0.75rem !important;
}
#footer{
    font-size: 0.55rem;
}

