/*ページ共通のスタイルおよびBootstrapの設定上書き用*/

/*Bootstrapのフォント設定は日本語フォントが無いため上書き*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');
:root{
  --font-family-sans-serif: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Osaka, sans-serif;
}

body {
  font-family: var(--font-family-sans-serif);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-sans-serif);
}

/*navvar用のpadding*/
body {
  padding-top: 3.5rem;
}