.next.disable,
.prev.disable {
    pointer-events: none;
    background: #ddd;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination p {
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    margin: 0 5px;
    background: #24936e;
    color: #fff;
    height: 60px;
    width: 60px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}
@media screen and (max-width: 799px) {
 .pagination p {
    display: none;
 }
}


.next:hover, .prev:hover, 
.page_counter li:hover {
    cursor: pointer;
}
.page_counter {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0 10px;
}

.page_counter li {
    background: #606060;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    height: 60px;
    width: 60px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}
@media screen and (max-width: 799px) {
    .page_counter li {
        height: 40px;
        width: 40px;
        line-height: 30px;
        font-size: 14px;
    }
   }

.page_counter li.active {
    background: #24936e;
}

.page_counter li + li {
    margin-left: 5px;
}


